{% load bootstrap3 %}

{% bootstrap_css %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>


    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Vocabulary Trainer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/trainer/registerUser" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="User_Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
              <button type="button" onclick="location.href='/trainer/registerUser';" class="btn btn-default">Sign up</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>